name: Lint
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  golangci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/flakehub-cache-action@main
      - uses: actions/setup-go@v5
        with:
          go-version: "1.23"
          check-latest: true
      - name: run lint
        run: nix develop -c make lint
